body {
  font: 14px 微软雅黑, sans-serif;
  margin: 0px;
  padding: 0px;
  background: url('../images/resume-bg.png');
}

.resume-main {
  background: #fff;
  max-width: 1000px;
  margin: 50px auto;
  padding: 50px 50px;
  border-radius: 15px;
}

.title-box {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  line-height: 60px;
  position: relative;
}

.title-box .avatar {
  position: absolute;
  right: 0;
  top: 0;
}

.title-box .avatar a {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url('../images/resume-avatar.png') no-repeat center;
  background-size: cover;
}

.info-box {
  border-radius: 15px;
  background: url('../images/resume-bg.png');
  padding: 30px 0;
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.info-box p {
  padding: 0 23px;
  font-size: 16px;
  color: #666;
}

.info-box p span {
  font-weight: bold;
}